html {
    box-sizing: border-box;
    background-image: url('https://images4.alphacoders.com/120/1200152.png');
    background-size: cover;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}


body {
    text-align: center;
}

img {
    margin-top: 150px;
}

h1 {
    color: white;
}

input {
    height: 30px;
    border-radius: 10px;
}

select {
    height: 35px;
    border-radius: 10px;
}

button {
    height: 35px;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    margin-bottom: 20px;
}